body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    text-align: center;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#qr {
    margin-top: 20px;
    margin-left: 160px;
}